.tags-input-container {
  border: var(--base-input-border);
}

.tags-input {
  border: none !important;
  flex: 1 0 auto;
}

.tag {
  flex: 0 0 content;
  height: calc(100% - ((var(--base-sizing-unit) * 3) * 2));
  background-color: var(--warning);
  border-radius: var(--base-border-radius);
  margin: calc(var(--base-sizing-unit) * 3) calc(var(--base-sizing-unit) * 2);
  padding: calc(var(--base-sizing-unit) * 2);
  box-sizing: border-box;
}

.delete-tag-cross {
  padding: var(--base-sizing-unit);
  cursor: pointer;
}
