.container {
  position: relative;
}

.left-pointer,
.right-pointer {
  position: absolute;
}

.left-pointer {
  left: var(--base-sizing-unit);
}

.right-pointer {
  right: var(--base-sizing-unit);
}
