.main-menu {
  float: left;
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  background-color: var(--white);
  z-index: var(--main-menu-z-index);
  padding: var(--base-horizontal-padding) var(--base-vertical-padding);
  height: calc(100vh - var(--navbar-height) - (var(--base-horizontal-padding) * 2));
  min-width: calc(75vw - (var(--base-vertical-padding) * 2));
}

.menu-open {
  animation: openMenuMobile 0.4s ease-out forwards;
}

.menu-close {
  animation: closeMenuMobile 0.4s ease-in forwards;
}

@media (min-width: 769px) {
  .main-menu {
    height: auto;
    min-height: calc(50vh - var(--navbar-height) - (var(--base-horizontal-padding) * 2));
    width: calc(100vw - (var(--base-vertical-padding) * 2));
  }

  .menu-open {
    animation: openMenuDesktop 0.4s ease-out forwards;
  }

  .menu-close {
    animation: closeMenuDesktop 0.4s ease-in forwards;
  }
}

@keyframes openMenuMobile {
  0% {
    opacity: 0;
    transform: translateX(-100vw) translateY(calc(0px - var(--base-border-size)));
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(calc(0px - var(--base-border-size)));
  }
}

@keyframes openMenuDesktop {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(calc(0px - var(--base-border-size)));
  }
}

@keyframes closeMenuMobile {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(calc(0px - var(--base-border-size)));
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw) translateY(calc(0px - var(--base-border-size)));
  }
}

@keyframes closeMenuDesktop {
  0% {
    opacity: 1;
    transform: translateY(calc(0px - var(--base-border-size)));
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}
