.recipe-card {
  padding: 0 calc(var(--base-sizing-unit) * 2);
  height: calc(var(--base-sizing-unit) * 117);
  width: calc(var(--base-sizing-unit) * 150);
}

.content-container {
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px calc(var(--base-sizing-unit) * 5);
}

.photo-container {
  height: 80%;
}

.photo-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container {
  height: 20%;
  padding: var(--base-sizing-unit) calc(var(--base-sizing-unit) * 2);
}
