.recipe-card {
  padding: 0 calc(var(--base-sizing-unit) * 2) calc(var(--base-sizing-unit) * 3);
  height: 100%;
  width: calc(var(--base-sizing-unit) * 150);
  max-width: calc(100vw - (var(--base-y-axis-padding) * 2));
  box-sizing: border-box;
}

.content-container {
  height: 100%;
  box-shadow: var(--box-shadow);
}

.photo-container {
  height: 80%;
}

.photo-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container {
  height: 20%;
  padding: var(--base-sizing-unit) calc(var(--base-sizing-unit) * 2);
}
