.split-banner {
  flex-direction: column;
  height: 700px;
  box-shadow: var(--box-shadow);
}

.photo-container,
.title-container {
  height: 50%;
}

.photo-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 769px) {
  .split-banner {
    flex-direction: row;
    height: 500px;
  }

  .photo-container,
  .title-container {
    flex: 0 0 50%;
    height: auto;
  }
}
