.navbar {
  height: var(--navbar-height);
  border-bottom: var(--base-border);
  z-index: var(--navbar-z-index);
  padding: 0 var(--base-y-axis-padding);
  position: fixed;
  top: 0;
  width: calc(100vw - (var(--base-y-axis-padding) * 2));
  background-color: var(--white);
}

@media (max-width: 768px) {
  .logo {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none !important;
  }
}
