.menu-open {
  animation: openMenuMobile 0.4s ease-out forwards;
}

.menu-close {
  animation: closeMenuMobile 0.4s ease-in forwards;
}

@media (min-width: 769px) {
  .menu-open {
    animation: openMenuDesktop 0.4s ease-out forwards;
  }

  .menu-close {
    animation: closeMenuDesktop 0.4s ease-in forwards;
  }
}

@keyframes openMenuMobile {
  0% {
    transform: translateX(-100vw);
  }
}

@keyframes openMenuDesktop {
  0% {
    transform: translateY(-100vh);
  }
}

@keyframes closeMenuMobile {
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes closeMenuDesktop {
  100% {
    transform: translateY(-100vh);
  }
}
